.button {
    transition: background-color .2s ease-in, border-top-color .2s ease-in;
    outline: none;
    border: none;
    border-top: 1px solid var(--neutral-400);
    width: 100%;
    padding: 15px 20px;
    line-height: 21px;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.34));
    color: #f8f9fa;
    cursor: pointer;
}

.create {
    border-top: 1px solid var(--green);
    background-color: var(--green);
}

.submit {
    border-top: 1px solid var(--green);
    background-color: var(--green);
}

.delete {
    border-top: 1px solid var(--red);
    background-color: var(--red);
}

.button:hover {
    transition: border-top-color .2s ease-in;
    border-top-color: var(--neutral-900);
}
