.icon {
    transition: .2s ease-in;
    margin-left: auto;
    border-bottom: 1px solid var(--neutral-400);
    padding: 15px 20px;
    color: var(--neutral-900);
    cursor: pointer;
}

.icon:hover {
    transition: .2s ease-in;
    border-bottom: 1px solid var(--neutral-900);
}