.list {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

@media (min-width: 640px) {
    .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1280px) {
    .list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}