.link {
    transition: all .2s ease-in;
    border: 0;
    border-bottom: 1px solid var(--neutral-400);
    padding: 15px 20px;
    background-color: var(--neutral-400);
    color: var(--neutral-900);
    cursor: pointer;
}

.link:hover {
    transition: all .2s ease-in;
    border-bottom: 1px solid var(--neutral-900);
}

.link[data-active=true] {
    color: var(--neutral-600);
    border-bottom: 1px solid var(--neutral-900);
    cursor: default;
}